<html>
<head>
    <title>
        Registration Page
    </title>
</head>

<body>
<br>
<br>

<form th:method="POST" th:action="@{/registration}">
    <label> Enter username </label>
    <input type="text" name="name" size="15"/>
    <br>
    <br>
    <label> Enter your Email </label>
    <input type="text" name="email" size="15"/>
    <br>
    <br>
    <label> Enter your password </label>
    <input type="password" name="password" size="15"/>
    <br>
    <br>
    <label> Repeat your password </label>
    <input type="password" name="repeatPassword" size="15"/>

    <br><br>

    <input type="submit" value="Register"/>

    <button onclick="location.href='/login'" type="button">I already have an account</button>
</form>
<p th:text="${errorMessage}">VALUE</p>
</body>
</html>